// Colour variables
$navy-blue: #023059;
$navy-blue-2: #034177;
$navy-blue-light: #145ea8;
$grey: #6b7280;
$light-grey: #8992a2;
$light-grey-2: #e4e4e4;
$light-grey-3: #eae6dd;

html,
body,
#app {
  margin: 0;
  height: 100%;
  font-family: 'Roboto';
}

h1,
h2 {
  font-family: 'Montserrat';
  font-weight: normal;
  margin: 0;
}

.action-button {
  font-family: 'Roboto';
  background-color: $navy-blue-2;
  color: white;
  padding: 1rem 2.2rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1rem;

  &:hover {
    background-color: $navy-blue-light;
  }
}

.invisible-button {
  background: none;
  border: none;
}

.clickable-background {
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
